[package]
name = "syndication-rust-template"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
env_logger = "0.11"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
ureq = { version = "2.12", features = ["json"] }

[dev-dependencies]
mockito = "1.7.1"
